<!--icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div class="center">
  <h3 class="lineElement light" style="font-size:45px;">Bruno</h3> <h3 class="lineElement thick" style="font-size:45px;">Mendonça</h3>
</div>

<div class="myInfo">
  <p class="grau">MESTRADO EM ENGENHARIA DE SOFTWARE - ISEP</p>
  <p class="morada">
    Rua D.Dinis, nº288, Vila Nova de Gaia,4430-080, Portugal
  </p>

  <div>
    <p class="lineElement"><i class="fas fa-mobile"></i> (+351) 939 037 160 |&nbsp;</p>
    <p class="lineElement"><i class="fas fa-envelope"></i> brcostamendonca@gmail.com |&nbsp;</p>
    <p class="lineElement"><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/bruno-costa-mendonca/"> bruno-costa-mendonca</a></p>
  </div>

  <p>
    <i>Estudante de Engenharia Informática no ISEP. Sempre dedicado e com vontade de aprender. Adoro programar e trabalhar em equipa.</i>
  </p>
</div>


<br />
<hr />

<div class="CVinfo">
  <h3 class="inicioDeSeccao">Educação</h3>
  <div class="infoRow">
    <p class="lineElement thick">ISEP</p> <p class="lineElement light local right">Porto, Portugal</p>
  </div>

  <div class="infoRow">
    <p class="lineElement smallText">LICENCIATURA EM ENGENHARIA INFORMATICA</p> <p class="lineElement smallText datas">2016 - 2019</p>
  </div>

  <ul>
    <li>
      Adquiri grande parte das minhas skills no ISEP, onde trabalhamos principalmente com metodologias ágeis, usando nomeadamente o SCRUM.
    </li>
  </ul>

  <div class="infoRow">
    <p class="lineElement smallText">MESTRADO EM ENGENHARIA DE SOFTWARE</p> <p class="lineElement smallText datas">2019 - PRESENTE</p>
  </div>

  <ul>
    <li>
      De momento estou a tirar o mestrado em Engenharia de Sofware no ISEP.
    </li>
  </ul>


  <br />


  <div class="infoRow">
    <p class="lineElement thick">Ambidata - Digital Innovation, Solutions & Consulting, Lda </p> <p class="lineElement light local right">Vila Nova de Gaia, Portugal</p>
  </div>

  <div class="infoRow">
    <p class="lineElement smallText">ESTÁGIO CURRICULAR</p> <p class="lineElement smallText datas">18/02/2019 - 30/06/2019</p>
  </div>

  <ul>
    <li>
      Estagiei na empresa Ambidata, desenvolvendo módulos para ambientes Windows e Web, utilizando como metodologia de desenvolvimento o SCRUM.
    </li>
    <li>
      Desenvolvi tambêm um website e uma API para logging de performance. São registados (através da API desenvolvida) todos os acessos à base de dados que demoram mais do que o esperado, sendo depois possivel consultar e gerir os registos através do website.
    </li>
  </ul>
</div>


<br />
<hr />

<div class="CVinfo">
  <h3 class="inicioDeSeccao">Competências</h3>

  <p class="thick">Linguagens</p>
  <ul>
    <li>Java</li>
    <li>JavaScript</li>
    <li>C</li>
    <li>C#</li>
    <li>C++</li>
    <li>Html</li>
    <li>Css</li>
    <li>Assembly</li>
    <li>Prolog</li>
  </ul>

  <p class="thick">Bases de Dados</p>
  <ul>
    <li>SQL</li>
    <li>MongoDB</li>
  </ul>

  <p class="thick">Frameworks</p>
  <ul>
    <li>ASP .NET</li>
    <li>ASP .NET Core</li>
    <li>Angular</li>
    <li>Knockout JS</li>
  </ul>

  <p class="thick">Principais Ferramentas</p>
  <ul>
    <li>Git</li>
    <li>Visual Studio</li>
    <li>Azure</li>
    <li>SQL Server  </li>
  </ul>
</div>


<br />
<hr />

<div class="CVinfo">
  <h3 class="inicioDeSeccao">Linguas</h3>

  <p class="thick">Português</p>
  <p>Nativo</p>
  <p class="thick">Inglês</p>
  <p>Fluente</p>

</div>


<br />
<hr />

<div class="CVinfo">
  <h3 class="inicioDeSeccao">Competências Pessoais</h3>

  <p class="thick">Responsável</p>
  <p>
    Característica que advêm da minha personalidade e do facto de ser irmão mais velho.
  </p>

  <p class="thick">Boa capacidade de comunicação</p>
  <p>Resultante de inúmeros trabalhos de grupo.</p>

  <p class="thick">
    Capacidade de liderança
  </p>
  <p>Resultante da minha atividade como líder de grupo, em diversos projetos</p>

  <p class="thick">Organizado</p>
  <p>
    Característica que advêm principalmente da minha personalidade e desenvolvida ainda mais pela necessidade de organização em
    projetos e trabalhos.
  </p>
</div>
